body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: white;
    background-image: url(./Images/Background.jpg);
    background-size: cover;
    overflow:auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo, .title, .menu {
    flex: 1;
}

.logo img {
    width: 100px;
    height: 100px;
}

.title h1 {
    text-align: center;
    font-size: 30px;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fcf6f6;
    padding: 8px 16px;
    border-radius: 8px;
}

.menu ul li a:hover {
    background-color: #3773e0;
    color: #fcf6f6;
}

/* pour Mobile */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: white;
    background-image: url(./Images/Background.jpg);
    background-size: cover;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.title h1 {
    text-align: center;
    font-size: 30px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fcf6f6;
    padding: 8px 16px;
    border-radius: 8px;
    display: block;
    text-align: center;
}

.menu ul li a:hover {
    background-color: #3773e0;
    color: #fcf6f6;
}

/* Media queries */
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .logo, .title, .menu {
        flex: 1;
    }

    .menu ul {
        justify-content: flex-end;
    }
}